      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row" style="margin-left: 0px;">
        <div class="span12">
            <div class="hero-unit">
              <p>一心只想做出最天然、最養生、最香濃又最營養的牛軋糖，全程純手工製作，堅持不加防腐劑，無香料、無色素、無糖精，純粹天然食材，用心為每位顧客的健康加分。</p>
              <p><span class="label important">重要</span>請於保存期限25天內食用(最佳美味期),可保持口感在最佳狀態。</p>
              <p><span class="label warning">提醒</span>牛軋糖軟硬度會隨著溫度變化, 天氣熱時它會軟些,天氣變冷它就會硬些。尤其對濕度敏感,請放入密封袋罐且置於通風涼爽處。</p>
            </div>
        </div>
        <div class="span3">
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E4%25BA%25AB%25E6%25A8%2582%25E7%2589%259B%25E8%25BB%258B%25E7%25B3%2596%2F186964428054821%3Fskip_nax_wizard%3Dtrue&amp;width=180&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=320" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:320px;" allowTransparency="true"></iframe>   
        </div>
      </div>
      
      <!-- Example row of columns -->
      <div class="row" style="margin-left: 0px;">
        <div class="span5">
          <h2>原味</h2>
          <img class="thumbnail myProduct_img" src="<%= asset_path 'original.jpg' %>" alt="原味">
          <p>上等嚴選的夏威夷豆加上濃郁的奶粉，非常香甜可口。</p>
        </div>
        <div class="span5">
          <h2>蔓越莓</h2>
          <img class="thumbnail myProduct_img" src="<%= asset_path 'cranberry.jpg' %>" alt="蔓越莓">
          <p>鮮紅天然營養的蔓越莓果乾，含豐富的維他命A、C及原花青素，濃濃奶香中散發出清淡迷人的酸甜香味。</p>
       </div>
        <div class="span5">
          <h2>抹茶</h2>
          <img class="thumbnail myProduct_img" src="<%= asset_path 'matcha-2.jpg' %>" alt="抹茶">
          <p>上等嚴選的夏威夷豆加上濃郁的抹茶，非常香甜可口。</p>
        </div>
      </div>

      <div class="row" style="margin-left: 0px;">
        <div class="span5">
          <h2>巧克力</h2>
          <img class="thumbnail myProduct_img" src="<%= asset_path 'chocolate.jpg' %>" alt="原味">
          <p>上等嚴選的夏威夷豆加上濃郁的巧克力，非常香甜可口。</p>
        </div>
        <div class="span5">
          <h2>精美包裝</h2>
          <img class="thumbnail myProduct_img" src="<%= asset_path 'logo-2.jpg' %>" alt="蔓越莓">
          <p>喜氣大方，年節最佳伴手禮。</p>
       </div>
        <div class="span5">
          <h2>綜合</h2>
          <img class="thumbnail myProduct_img" src="<%= asset_path 'complex-3.jpg' %>" alt="抹茶">
          <p>可品嘗到各種口味，還可任意搭配喜愛的口味喔!</p>
        </div>
      </div>

      <div class="span10" style="margin-top: 10px; margin-left: auto;margin-right: auto;">
        <div class="fb-comments" data-href="http://enjoyyum.com" data-num-posts="2" data-width="600"></div>
      </div>  